In [1]:
import pandas as pd
import numpy as np
pd.set_option ("display.max_columns", 32)
pd.set_option ("display.max_rows", 32)

In [2]:
df = pd.read_csv("C:/Users/asus/Desktop/rakamin/Virtual Internship Experience/KIMIA FARMA/Mini Project/Investigate Hotel Business using Data Visualization/hotel_bookings_data.csv")

# Data Preparation and Cleaning

In [3]:
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,3,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
1,Resort Hotel,0,737,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,4,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
2,Resort Hotel,0,7,2017,September,27,1,0,1,1,0.0,0,Breakfast,Kabupaten Bangka,Direct,Direct,0,0,0,0,No Deposit,NaN,NaN,0,Personal,75.0,0,0,Check-Out
3,Resort Hotel,0,13,2017,September,27,1,0,1,1,0.0,0,Breakfast,Kabupaten Bangka,Corporate,Corporate,0,0,0,0,No Deposit,304.0,NaN,0,Personal,75.0,0,0,Check-Out
4,Resort Hotel,0,14,2017,September,27,1,0,2,2,0.0,0,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,0,No Deposit,240.0,NaN,0,Personal,98.0,0,1,Check-Out

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

In [5]:
numeric = df.loc[:, (df.dtypes == np.int64) | (df.dtypes == np.float64)].columns.tolist()
numeric

['is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_weekdays_nights',
 'adults',
 'children',
 'babies',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'booking_changes',
 'agent',
 'company',
 'days_in_waiting_list',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests']

In [6]:
categorical = df.loc[:, (df.dtypes != np.int64) & (df.dtypes != np.float64)].columns.tolist()
categorical

['hotel',
 'arrival_date_month',
 'meal',
 'city',
 'market_segment',
 'distribution_channel',
 'deposit_type',
 'customer_type',
 'reservation_status']

In [7]:
df[numeric].describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2018.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2018.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2018.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2019.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2019.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [8]:
df[categorical].describe()

,hotel,arrival_date_month,meal,city,market_segment,distribution_channel,deposit_type,customer_type,reservation_status
count,119390,119390,119390,118902,119390,119390,119390,119390,119390
unique,2,12,5,177,8,5,3,4,3
top,City Hotel,October,Breakfast,Kota Denpasar,Online TA,TA/TO,No Deposit,Personal,Check-Out
freq,79330,13877,92310,48590,56477,97870,104641,89613,75166

# Cek Data Kosong / Mengatasi data null

In [9]:
data_missing_value = df.isnull().sum().reset_index()
data_missing_value.columns = ['feature','missing_value']
data_missing_value['percentage'] = round((data_missing_value['missing_value']/len(df))*100,3)
data_missing_value = data_missing_value.sort_values('percentage', ascending=False).reset_index(drop=True)
data_missing_value = data_missing_value[data_missing_value['percentage']>0]
data_missing_value

    feature  missing_value  percentage
0   company         112593      94.307
1     agent          16340      13.686
2      city            488       0.409
3  children              4       0.003

In [10]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_weekdays_nights               0
adults                                 0
children                               4
babies                                 0
meal                                   0
city                                 488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
dtype: int64

#### <font color='blue'> Menghapus feature company karna memiliki missing value percentase nya mencapai 95% </font>

In [11]:
df.drop(['company'],inplace=True, axis=1)

#### <font color='blue'> Mengisi Feature Children yang null dengan nilai 0 dan mengganti tipe datanya menjadi integer32 dari float karna ada nilai null sebelumnya </font>

In [12]:
df['children'].fillna(0,inplace=True)
df['children'] = df['children'].astype(int)

#### <font color='blue'> Mengisi Feature City yang kosong dengan nilai sembarang untuk mempermudah Identifikasi data </font>

In [13]:
## ????????????????
df['city'].fillna('Kota Hantu',inplace=True)

# Mengganti value yang tidak sesuai

In [14]:
df['children'].value_counts()

0     110800
1       4861
2       3652
3         76
10         1
Name: children, dtype: int64

#### <font color='blue'> Mengganti Undefined Value Menjadi No Meal / Karna memiliki persamaan makna yang sama </font>

In [15]:
df['meal'].value_counts()

Breakfast     92310
Dinner        14463
No Meal       10650
Undefined      1169
Full Board      798
Name: meal, dtype: int64

In [16]:
df['meal'] = np.where(df['meal'] == 'Undefined', 'No Meal', df['meal'])
df['meal'].value_counts()

Breakfast     92310
Dinner        14463
No Meal       11819
Full Board      798
Name: meal, dtype: int64

# Membuang data yang tidak diperlukan

In [17]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_weekdays_nights', 'adults', 'children', 'babies', 'meal',
       'city', 'market_segment', 'distribution_channel', 'is_repeated_guest',
       'previous_cancellations', 'previous_bookings_not_canceled',
       'booking_changes', 'deposit_type', 'agent', 'days_in_waiting_list',
       'customer_type', 'adr', 'required_car_parking_spaces',
       'total_of_special_requests', 'reservation_status'],
      dtype='object')

In [18]:
selected_columns= ['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_weekdays_nights', 'adults', 'children', 'meal',
       'city', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'deposit_type', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests']

#### <font color='blue'> Membuat copy dataframe agar tidak mengganggu dataset asli serta menghapus beberapa data yang tidak di anggap penting  </font>
    1. *Agent* karena Range Max dan Min Yang sangat jauh bisa dianggap nilainya tidak normal dan tidak jelas
    2. *babies* karna di anggap terhitung juga di children, 
    3. *previous_cancellations* Riwayat pembatalan Cancelation pada suatu info,
    4. *days_in_waiting_list* tidak akan memberikan informasi 
    5. *reservation_status* tidak memberikan informasi tambahan

In [19]:
bookings_df = df[selected_columns].copy()

####  <font color='blue'> Feature Extraction : Menjumlahkan adults + children menjadi fitur baru total pengunjung dan lalu menghapus nya ( adults, children ) </font>

In [20]:
bookings_df['Total_Guests'] = bookings_df['adults'] + bookings_df['children']
bookings_df = bookings_df.drop(['adults', 'children'], axis=1)

#### <font color='blue'> Melakukan filter data yang hanya memiliki jumlah *total_guest* lebih besar atau sama dengan 1, Karena masih terdapat data tamu yang bernilai 0 tetapi status *is_canceled* masih bernilai 0 </font>

In [21]:
tamu_kosong = bookings_df[bookings_df['Total_Guests'] == 0]
tamu_kosong.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,deposit_type,customer_type,adr,required_car_parking_spaces,total_of_special_requests,Total_Guests
2224,Resort Hotel,0,1,2017,December,41,6,0,3,No Meal,Kota Denpasar,Corporate,Corporate,0,0,0,No Deposit,Family,0.0,0,0,0
2409,Resort Hotel,0,0,2017,December,42,12,0,0,No Meal,Kota Denpasar,Corporate,Corporate,0,0,0,No Deposit,Personal,0.0,0,0,0
3181,Resort Hotel,0,36,2017,January,47,20,1,2,No Meal,Kota Batu,Groups,TA/TO,0,0,0,No Deposit,Family,0.0,0,0,0
3684,Resort Hotel,0,165,2017,February,53,30,1,4,No Meal,Kota Denpasar,Groups,TA/TO,0,0,0,No Deposit,Family,0.0,0,0,0
3708,Resort Hotel,0,165,2017,February,53,30,2,4,No Meal,Kota Denpasar,Groups,TA/TO,0,0,0,No Deposit,Family,0.0,0,0,0

In [22]:
bookings_df= bookings_df[bookings_df['Total_Guests'] >= 1]

In [23]:
bookings_df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,deposit_type,customer_type,adr,required_car_parking_spaces,total_of_special_requests,Total_Guests
0,Resort Hotel,0,342,2017,September,27,1,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,No Deposit,Personal,0.0,0,0,2
1,Resort Hotel,0,737,2017,September,27,1,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,No Deposit,Personal,0.0,0,0,2
2,Resort Hotel,0,7,2017,September,27,1,0,1,Breakfast,Kabupaten Bangka,Direct,Direct,0,0,0,No Deposit,Personal,75.0,0,0,1
3,Resort Hotel,0,13,2017,September,27,1,0,1,Breakfast,Kabupaten Bangka,Corporate,Corporate,0,0,0,No Deposit,Personal,75.0,0,0,1
4,Resort Hotel,0,14,2017,September,27,1,0,2,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,No Deposit,Personal,98.0,0,1,2
5,Resort Hotel,0,14,2017,September,27,1,0,2,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,No Deposit,Personal,98.0,0,1,2
6,Resort Hotel,0,0,2017,September,27,1,0,2,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,No Deposit,Personal,107.0,0,0,2
7,Resort Hotel,0,9,2017,September,27,1,0,2,Full Board,Kota Denpasar,Direct,Direct,0,0,0,No Deposit,Personal,103.0,0,1,2
8,Resort Hotel,1,85,2017,September,27,1,0,3,Breakfast,Kota Denpasar,Online TA,TA/TO,0,0,0,No Deposit,Personal,82.0,0,1,2
9,Resort Hotel,1,75,2017,September,27,1,0,3,Dinner,Kota Denpasar,Offline TA/TO,TA/TO,0,0,0,No Deposit,Personal,105.5,0,0,2

#### melakukan filter data yang tidak ada pembatalan sewa ( is_canceled = 0 )

In [24]:
df_no_cancel= bookings_df[bookings_df['is_canceled'] == 0]
df_no_cancel.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,deposit_type,customer_type,adr,required_car_parking_spaces,total_of_special_requests,Total_Guests
78848,City Hotel,0,29,2017,December,42,14,0,4,Breakfast,Kota Bengkulu,Online TA,TA/TO,0,0,0,No Deposit,Contract,163.58,0,1,4
89655,City Hotel,0,129,2018,July,22,22,2,0,Breakfast,Kabupaten Magelang,Online TA,TA/TO,0,0,0,No Deposit,Personal,105.30,0,2,2
45807,City Hotel,0,98,2017,January,48,23,1,2,Breakfast,Kota Yogyakarta,Groups,TA/TO,0,0,0,No Deposit,Family,70.00,0,0,1
93215,City Hotel,0,85,2018,September,30,18,1,0,Breakfast,Kabupaten Bandung,Online TA,TA/TO,0,0,0,No Deposit,Personal,105.30,0,0,2
24149,Resort Hotel,0,24,2018,July,19,7,2,5,Dinner,Kabupaten Garut,Groups,TA/TO,0,0,0,No Deposit,Family,85.00,0,0,2

#### <font color='blue'> Memisahkan dan membuat kumpulan data yang berbeda dari jenis hotel, lalu menyimpannya ke file csv ke untuk penelitian lanjutan </font>

In [25]:
df_no_cancel['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [26]:
resort_df = df_no_cancel[df_no_cancel['hotel'] == "Resort Hotel"]
city_df= df_no_cancel[df_no_cancel['hotel'] == "City Hotel"]

In [27]:
resort_df.to_csv('resort_df.csv',header=True)
city_df.to_csv('city_df.csv',header=True)